@import "tailwindcss";

:root {
  --primary: #24BF2F;
  --secondary: #01261F;
  --accent: #F59E0B;

  --background: #9dbfff;
  --background-feed: #fface6;
  --surface: #f5f5f5;

  --text-primary: #111827;
  --text-secondary: #6B7280;

  --success: #22C55E;
  --warning: #FACC15;
  --error: #EF4444;
  --info: #3B82F6;

  --border: #E5E7EB;
}
.PhoneInputInput {
 
  outline: none;
}

